<div class="wrapper wrapper-content animated fadeInRight">
    <div class="panel" id="pnStaffSalaryList">
        <div class="panel-header">
            <h2>&nbsp;</h2>
            <div class="panel-tools" style="width:20%;">
                <form #frmStaffSalary="ngForm" (ngSubmit)="frmStaffSalary.valid" novalidate autocomplete="off">
                    <div class="form-group col-md-12">
                        <select-guru [data]="dsPaymentType" [placeholder]="'::SELECT::'" name="PaymodeSysID" [(ngModel)]="SalaryIssueViewData.PaymodeSysID" (valueChanged)="ddlPaymodeSysID_Change($event)" #PaymodeSysID="ngModel" required></select-guru>
                        <div class="error-message">
                            <div *ngIf="PaymodeSysID.errors && frmStaffSalary.submitted">
                                <div *ngIf="PaymodeSysID.errors?.required">
                                    Paymode is required
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <Salary-Cash-Issue [PaymodeSysID]="SalaryIssueViewData.PaymodeSysID" (onclose)="onClose();" *ngIf="isCashMode && !isBankMode"></Salary-Cash-Issue>
        <Salary-Bank-Issue [PaymodeSysID]="SalaryIssueViewData.PaymodeSysID" (onclose)="onClose();" *ngIf="isBankMode && !isCashMode"></Salary-Bank-Issue>
    </div>
</div>