<div class="wrapper wrapper-content animated fadeInRight">
    <div class="panel" id="pnStaffSalaryList">
        <div class="panel-header" style="height: 75px !important;">
            <h2>&nbsp;</h2>
            <div class="panel-tools error-style" style="width:60%;">
                <form #frmStaffSalary="ngForm" (ngSubmit)="frmStaffSalary.valid && btnView_Click()" novalidate autocomplete="off">
                    <div class="form-group col-md-5">
                        <label class="control-label">Account<span class="important">*</span></label>
                        <select-guru [data]="dsAccountType" [placeholder]="'::SELECT::'" name="AccountSysID" [(ngModel)]="SalaryIssueViewData.AccountSysID" (valueChanged)="ddlAccountSysID_Change($event)" #AccountSysID="ngModel" required></select-guru>
                        <div class="error-message">
                            <div *ngIf="AccountSysID.errors && frmStaffSalary.submitted">
                                <div *ngIf="AccountSysID.errors?.required">
                                    Account is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-5">
                        <label class="control-label">PayMode<span class="important">*</span></label>
                        <select-guru [data]="dsPaymentType" [placeholder]="'::SELECT::'" name="PaymodeSysID" [(ngModel)]="SalaryIssueViewData.PaymodeSysID" (valueChanged)="ddlpayModeSysID_Change($event)" #PaymodeSysID="ngModel" required></select-guru>
                        <div class="error-message">
                            <div *ngIf="PaymodeSysID.errors && frmStaffSalary.submitted">
                                <div *ngIf="PaymodeSysID.errors?.required">
                                    Paymode is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label">&nbsp;</label>
                        <button class="btn btn-primary from-control" type="submit" name="btnView">View</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel-content">
            <p-dataTable [value]="StaffSalaryIssueData" [(selection)]="SelectedSalaryIssueViewData"  [rows]="10" [paginator]="true" [pageLinks]="6" [rowsPerPageOptions]="[5,10,20]" [tableStyleClass]="'tbl-list-guru'">
                <p-headerColumnGroup>
                    <p-row>
                        <p-column [style]="{'width':'30px','text-align':'center'}" selectionMode="multiple" rowspan="2"></p-column>
                        <p-column [style]="{'width':'30px','text-align':'center'}" header="#" rowspan="2"></p-column>
                        <p-column field="StaffID"  header="StaffID" [style]="{'width':'55px'}" rowspan="2" filter="true" filterMatchMode="contains"></p-column>
                        <p-column field="StaffName"  header="Name" rowspan="2" [style]="{'width':'100px'}" filter="true" filterMatchMode="contains"></p-column>
                        <p-column header="Salary" rowspan="2" [style]="{'width':'70px'}"></p-column>
                        <p-column header="Payable" colspan="6" [style]="{'width':'340px'}"></p-column>
                        <p-column header="Deduction" colspan="4" [style]="{'width':'230px'}"></p-column>
                        <p-column header="GrossSalary" rowspan="2" [style]="{'width':'80px'}"></p-column>
                        <p-column header="NetSalary" rowspan="2" [style]="{'width':'80px'}"></p-column>
                    </p-row>
                    <p-row>
                        <p-column header="Basic" colspan="1" [style]="{'width':'60px'}"></p-column>
                        <p-column header="Grade" colspan="1" [style]="{'width':'60px'}"></p-column>
                        <p-column header="DA" colspan="1" [style]="{'width':'55px'}"></p-column>
                        <p-column header="CA" colspan="1" [style]="{'width':'55px'}"></p-column>
                        <p-column header="HRA" colspan="1" [style]="{'width':'55px'}"></p-column>
                        <p-column header="MA" colspan="1" [style]="{'width':'55px'}"></p-column>
                        <p-column header="PF" colspan="1"></p-column>
                        <p-column header="TDS" colspan="1"></p-column>
                        <p-column header="Permis." colspan="1"></p-column>
                        <p-column header="Loan" colspan="1"></p-column>
                    </p-row>
                </p-headerColumnGroup>
                <p-column selectionMode="multiple"></p-column>
                <p-column>
                    <ng-template let-rowIndex="rowIndex" pTemplate="body">
                        <div style="text-align:right !important">{{rowIndex+1}}</div>
                    </ng-template>
                </p-column>
                <p-column field="StaffID"  filter="true" filterMatchMode="contains"></p-column>
                <p-column field="StaffName"  filter="true" filterMatchMode="contains"></p-column>
                <p-column field="ActualSalary">
                    <ng-template let-data="rowData" pTemplate type="body">
                        <div style="text-align:right !important"> {{data.ActualSalary | number:'1.2-2'}}
                        </div>
                    </ng-template>
                </p-column>
                <p-column field="BasicPay">
                    <ng-template let-data="rowData" pTemplate type="body">
                        <div style="text-align:right !important"> {{data.BasicPay | number:'1.2-2'}}
                        </div>
                    </ng-template>
                </p-column>
                <p-column field="GradePay">
                    <ng-template let-data="rowData" pTemplate type="body">
                        <div style="text-align:right !important"> {{data.GradePay | number:'1.2-2'}}
                        </div>
                    </ng-template>
                </p-column>
                <p-column field="DA">
                    <ng-template let-data="rowData" pTemplate type="body">
                        <div style="text-align:right !important"> {{data.DA | number:'1.2-2'}}
                        </div>
                    </ng-template>
                </p-column>
                <p-column field="CA">
                    <ng-template let-data="rowData" pTemplate type="body">
                        <div style="text-align:right !important"> {{data.CA | number:'1.2-2'}}
                        </div>
                    </ng-template>
                </p-column>
                <p-column field="HRA">
                    <ng-template let-data="rowData" pTemplate type="body">
                        <div style="text-align:right !important"> {{data.HRA | number:'1.2-2'}}
                        </div>
                    </ng-template>
                </p-column>
                <p-column field="MA">
                    <ng-template let-data="rowData" pTemplate type="body">
                        <div style="text-align:right !important"> {{data.MA | number:'1.2-2'}}
                        </div>
                    </ng-template>
                </p-column>
                <p-column field="PF" [style]="{ 'width': '40px'}">
                    <ng-template let-data="rowData" pTemplate type="body">
                        <div style="text-align:right !important"> {{data.PF | number:'1.2-2'}}
                        </div>
                    </ng-template>
                </p-column>
                <p-column field="TDS" [style]="{ 'width': '40px'}">
                    <ng-template let-data="rowData" pTemplate type="body">
                        <div style="text-align:right !important"> {{data.TDS | number:'1.2-2'}}
                        </div>
                    </ng-template>
                </p-column>
                <p-column field="PermissionDeduct" [style]="{ 'width': '80px'}">
                    <ng-template let-data="rowData" pTemplate type="body">
                        <div style="text-align:right !important"> {{data.PermissionDeduct | number:'1.2-2'}}
                        </div>
                    </ng-template>
                </p-column>
                <p-column field="LoanAmount" header="Stu. Cnt." [style]="{ 'width': '70px'}">
                    <ng-template let-data="rowData" pTemplate="body">
                        <div class="" style="text-align:right !important;">
                            <div style="text-align:right !important"> {{data.LoanAmount | number:'1.2-2'}}
                            </div>
                        </div>
                    </ng-template>
                </p-column>
                <p-column field="GrossSalary">
                    <ng-template let-data="rowData" pTemplate type="body">
                        <div style="text-align:right !important"> {{data.GrossSalary | number:'1.2-2'}}
                        </div>
                    </ng-template>
                </p-column>
                <p-column field="NetSalary">
                    <ng-template let-data="rowData" pTemplate type="body">
                        <div style="text-align:right !important"> {{data.NetSalary | number:'1.2-2'}}
                        </div>
                    </ng-template>
                </p-column>
                <p-footerColumnGroup>
                    <p-row>
                        <p-column colspan="4">
                            <ng-template let-data pTemplate="footer">
                                <div class="" style="text-align:right !important; font-weight: 700;">Totals:</div>
                            </ng-template>
                        </p-column>
                        <p-column>
                            <ng-template let-data pTemplate="footer">
                                <div class="" style="text-align:right !important; font-weight: 700; ">
                                    {{(calculateActualSalary()) | currency:'INR':true:'1.2-2'}}
                                </div>
                            </ng-template>
                        </p-column>
                        <p-column>
                            <ng-template let-data pTemplate="footer">
                                <div class="" style="text-align:right !important; font-weight: 700; ">
                                    {{(calculateBasicPay()) | currency:'INR':true:'1.2-2'}}
                                </div>
                            </ng-template>
                        </p-column>
                        <p-column>
                            <ng-template let-data pTemplate="footer">
                                <div class="" style="text-align:right !important; font-weight: 700; ">
                                    {{(calculateGradePay()) | currency:'INR':true:'1.2-2'}}
                                </div>
                            </ng-template>
                        </p-column>
                        <p-column>
                            <ng-template let-data pTemplate="footer">
                                <div class="" style="text-align:right !important; font-weight: 700; ">
                                    {{(calculateDA()) | currency:'INR':true:'1.2-2'}}
                                </div>
                            </ng-template>
                        </p-column>
                        <p-column>
                            <ng-template let-data pTemplate="footer">
                                <div class="" style="text-align:right !important; font-weight: 700; ">
                                    {{(calculateCA()) | currency:'INR':true:'1.2-2'}}
                                </div>
                            </ng-template>
                        </p-column>
                        <p-column>
                            <ng-template let-data pTemplate="footer">
                                <div class="" style="text-align:right !important; font-weight: 700; ">
                                    {{(calculateHRA()) | currency:'INR':true:'1.2-2'}}
                                </div>
                            </ng-template>
                        </p-column>
                        <p-column>
                            <ng-template let-data pTemplate="footer">
                                <div class="" style="text-align:right !important; font-weight: 700; ">
                                    {{(calculateMA()) | currency:'INR':true:'1.2-2'}}
                                </div>
                            </ng-template>
                        </p-column>
                        <p-column>
                            <ng-template let-data pTemplate="footer">
                                <div class="" style="text-align:right !important; font-weight: 700; ">
                                    {{(calculatePF()) | currency:'INR':true:'1.2-2'}}
                                </div>
                            </ng-template>
                        </p-column>
                        <p-column>
                            <ng-template let-data pTemplate="footer">
                                <div class="" style="text-align:right !important; font-weight: 700; ">
                                    {{(calculateTDS()) | currency:'INR':true:'1.2-2'}}
                                </div>
                            </ng-template>
                        </p-column>
                        <p-column>
                            <ng-template let-data pTemplate="footer">
                                <div class="" style="text-align:right !important; font-weight: 700; ">
                                    {{(calculatePermissionDeduct()) | currency:'INR':true:'1.2-2'}}
                                </div>
                            </ng-template>
                        </p-column>
                        <p-column>
                            <ng-template let-data pTemplate="footer">
                                <div class="" style="text-align:right !important; font-weight: 700; ">
                                    {{(calculateLoanAmount()) | currency:'INR':true:'1.2-2'}}
                                </div>
                            </ng-template>
                        </p-column>
                        <p-column>
                            <ng-template let-data pTemplate="footer">
                                <div class="" style="text-align:right !important; font-weight: 700; ">
                                    {{(calculateGrossSalary()) | currency:'INR':true:'1.2-2'}}
                                </div>
                            </ng-template>
                        </p-column>
                        <p-column>
                            <ng-template let-data pTemplate="footer">
                                <div class="" style="text-align:right !important; font-weight: 700; ">
                                    {{(calculateNetSalary()) | currency:'INR':true:'1.2-2'}}
                                </div>
                            </ng-template>
                        </p-column>
                    </p-row>
                </p-footerColumnGroup>
            </p-dataTable>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <button type="button" class="btn btn-sm btn-primary" (click)="btnPaymodeModel_click()">Issue Salary</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<modal #mdPaymode [keyboard]="false" [backdrop]="'static'" cssClass="modal-sm" id="PayModeModal">
    <form #frmPayMode="ngForm" (ngSubmit)="frmPayMode.valid && frmPayMode_submit()" novalidate autocomplete="off">
        <modal-header>
            <h1 class="modal-title"> <strong>Paymode</strong></h1>
        </modal-header>
        <modal-body class="error-style">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Transaction No.<span class="important">*</span></label>
                        <input type="text" class="form-control" name="TransactionNo" [(ngModel)]="PayMode.TransactionNo" #TransactionNo="ngModel" required/>
                        <div class="error-message">
                            <div *ngIf="TransactionNo.errors && frmPayMode.submitted">
                                <div *ngIf="TransactionNo.errors?.required">
                                    Transaction No is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Transaction Date<span class="important">*</span></label>
                        <p-calendar dateFormat="dd-mm-yy" dataType="string" showIcon="true" name="TransactionDate" [(ngModel)]="PayMode.TransactionDate" #TransactionDate="ngModel" required></p-calendar>
                        <div class="error-message">
                            <div *ngIf="TransactionDate.errors && frmPayMode.submitted">
                                <div *ngIf="TransactionDate.errors?.required">
                                    Transaction Date No is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Bank Name<span class="important">*</span></label>
                        <select-guru [data]="dsBankName" [dropdownParent]="'PayModeModal'" [placeholder]="'::SELECT::'" [(ngModel)]="PayMode.TransactionBankSysID" #BankSysID="ngModel" name="BankSysID" required></select-guru>
                        <div class="error-message">
                            <div *ngIf="BankSysID.errors && frmPayMode.submitted">
                                <div *ngIf="BankSysID.errors?.required">
                                    Bank is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Company Bank Name<span class="important">*</span></label>
                        <select-guru [data]="dsCompanyBankName" [dropdownParent]="'PayModeModal'" [placeholder]="'::SELECT::'" [(ngModel)]="PayMode.LedgerSysID" #LedgerSysID="ngModel" name="LedgerSysID" required></select-guru>
                        <div class="error-message">
                            <div *ngIf="LedgerSysID.errors && frmPayMode.submitted">
                                <div *ngIf="LedgerSysID.errors?.required">
                                    Company Bank is required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </modal-body>
        <modal-footer>
            <button type="submit" name="btnSaveClass" class="btn btn-success">Save</button>
            <button type="button" name="btnCloseEntry" class="btn btn-danger" (click)="mdPaymode.close();">Close</button>
        </modal-footer>
    </form>
</modal>