<div class="wrapper wrapper-content animated fadeInRight">
    <div class="panel" id="pnEntry">
        <div class="panel-header">
            <h2><strong>Gallery Approval</strong></h2>
        </div>
        <div class="panel-content">
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="control-label">Gallery Name</label>
                    <div>
                        <select-guru [data]="GalleryListData" (valueChanged)="OnGalleryChange($event)" [disabled]="IsEditMode" [placeholder]="'Select Gallery'" #ddlGallery></select-guru>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label">Description</label>
                    <input type="text" class="form-control" [disabled]="true" [(ngModel)]="GalleryData.Description" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p-dataGrid [value]="GalleryData.lstImageDetail">
                        <ng-template let-lstImageDet pTemplate="item">
                            <div style="text-align:center;padding:10px;" class="ui-g-12 ui-md-3">
                                <img src="{{ImageBaseUrl}}/{{lstImageDet.FileName}}" class="h-100">
                                <hr class="ui-widget-content" style="border-top:0">
                                <button class="btn btn-sm btn-primary" *ngIf="!lstImageDet.IsApproved" (click)="btnImageApprove_Click(lstImageDet)">
                                    <i class="fa fa-check"></i>Approve
                                </button>
                                <!--<button class="btn btn-sm btn-danger" *ngIf="!lstImageDet.IsDeleted"
                                        (click)="btnImageDelete_Click(lstImageDet)">
                                    <i class="fa fa-trash-o"></i>Delete
                                </button>-->
                                <!--<label class="btn btn-sm btn-warning" *ngIf="lstImageDet.IsDeleted">Deleted</label>-->
                                <label class="btn btn-sm btn-success" (click)="btnImageApproveReset_Click(lstImageDet)" *ngIf="(lstImageDet.IsApproved && lstImageDet.GalleryImageSysID !== 0)">Approved</label>
                            </div>
                        </ng-template>
                    </p-dataGrid>
                    <div class="ui-datatable ui-widget" *ngIf="false">
                        <div class="ui-datatable-tablewrapper">
                            <table class="undefined">
                                <tbody class="ui-datatable-data ui-widget-content">
                                    <tr class="ui-widget-content ui-datatable-even">
                                        <td style="display: table-cell; text-align:right">
                                            <button class="btn btn-sm btn-primary" (click)="btnFileImport_Click()" tooltip="Image UpLoad" tooltipPlacement="right">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <p-dataTable [value]="GalleryData.lstVideoDetail">
                        <p-column [style]="{'width':'30px','text-align':'center'}" header="#">
                            <ng-template let-rowIndex="rowIndex" pTemplate="body">
                                <div style="text-align:right !important">{{rowIndex+1}}</div>
                            </ng-template>
                        </p-column>
                        <p-column header="Video Url">
                            <ng-template let-data="rowData" pTemplate="body">
                                <input autofocus type="text" class="form-control" value="{{data.FileName}}" [(ngModel)]="data.FileName" />
                            </ng-template>
                        </p-column>
                        <p-column header="Options" [style]="{'width':'125px', 'text-align':'center'}">
                            <ng-template let-data="rowData" pTemplate="body" style="text-align:center">
                                <button class="btn btn-sm btn-primary" (click)="btnVideoApprove(data)" *ngIf="!data.IsApproved"><i class="fa fa-check"></i> Approve</button>
                                <label class="btn btn-sm  btn-success" (click)="btnVideoApproveReset(data)" *ngIf="data.IsApproved">Approved</label>
                            </ng-template>
                        </p-column>
                    </p-dataTable>
                    <div class="ui-datatable ui-widget" *ngIf="false">
                        <div class="ui-datatable-tablewrapper">
                            <table class="undefined">
                                <tbody class="ui-datatable-data ui-widget-content">
                                    <tr class="ui-widget-content ui-datatable-even">
                                        <td style="display: table-cell; text-align:right">
                                            <button class="btn btn-sm btn-primary" (click)="NewVideoUrl()" tooltip="Add Row" tooltipPlacement="left">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-md btn-primary" (click)="btnApproveGallery_Click()">Approve</button>
                        <button type="submit" class="btn btn-md btn-success" *ngIf="false" (click)="btnSaveGallery_Click()">{{(GalleryData.GallerySysID === 0)?"Save" :"Update"}}</button>
                        <button class="btn btn-md btn-danger" *ngIf="false" (click)="btnCloseGallery_Click()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <modal #mdUpload [keyboard]="false" [backdrop]=" 'static'" [cssClass]="modal-sm">
        <form [formGroup]="frmImport" (ngSubmit)="hasFile && btnUpload_Click()" novalidate autocomplete="off">
            <modal-header>
                <h1 class="modal-title">Import</h1>
            </modal-header>
            <modal-body>
                <div class="row">
                    <div class="form-group col-md-12">
                        <input type="file" formControlName="fuImage" (change)="fileChange($event)" accept="image/*" multiple>
                        <span class="Validation" *ngIf="frmImport.controls.fuImage.errors?.required && (frmImport.controls.fuImage.dirty || frmImport.submitted)">
                            Please Select File
                        </span>
                    </div>
                </div>
            </modal-body>
            <modal-footer>
                <button type="submit" name="btnUploadUpdate" class="btn btn-success" [disabled]="!hasFile">Upload</button>
                <button type="button" name="btnUploadClose" class="btn btn-danger" (click)="mdUpload.close()">Close</button>
            </modal-footer>
        </form>
    </modal>
</div>